/* CSS to style the button */
.material-icons {
    /*font-size: 24px;*/ /* Adjust the icon size */
    color: #007bff; /* Set the icon color */
    cursor: pointer;
    padding: 0px;
    vertical-align: middle;
}

.material-icons:hover {
    color: #0056b3;
}

#floatingDiv {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: white;
    padding: 10px 10px;
    border-bottom: 2px solid #ccc;
    width: auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    border-radius: 0 0 5px 5px;
}

#floatingDiv label,
#floatingDiv input,
#floatingDiv span {
    margin-right: 0px;
}

/* Basic styling for the PrefTable */
#PrefTable {
    border-collapse: collapse;
    /*width: 30%;*/ /* Reduced table width */
    margin: 8px auto; /* Center the table */
    font-size: 0.8em; /* Reduced font size */
}

#PrefTable th, #PrefTable td {
    border: 1px solid #ddd;
    padding: 2px; /* Reduced padding */
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

#PrefTable th {
    background-color: #f2f2f2;
}

#PrefTable tr:hover {
    background-color: #f5f5f5;
}

